form {
    width: 80%;
    margin: 0 auto;
}

search-box {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(/../assets/yarn-bg.jpg);
    background-size: 1350px;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0%;
}

search-box.revealed {
    transition: 0.5s;
    top: -100%;
}

/* .knit-wits {
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 7.5%;
} */

h1.time {
    text-align: center;
    color: #fff;
    font-size: 6em;
    width: 100%;
    margin: 10px 0;
}

input.search {
    display: inline-block;
    width: 85%;
    padding: 10px 15px;
    border: 1px solid #000;
    background-image: url(/../assets/mic-icon.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

search-box form {
    font-size: 1.25em;
    transform: translateY(40%);
}

input.field::before {
    content: url(/../assets/search-icon.png);
}

.search-submit {
    width: 15%;
    padding: 10px;
    background-color: #82b5a7;
    border: 1px solid #547a6f;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    border-left: 0;
}

.search-submit:hover {
    background: darken(#82b5a7, 20%);
}

img.knit-wits {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px 80px;
    margin: 0 auto;
    text-align: center;
}