<div ng-class="$ctrl.page">
	<search-box user="$ctrl.user" ng-class="$ctrl.page !== 'search' ? 'revealed' : 'nothing'" on-switch-page="$ctrl.switchPage"></search-box>
	<navigation user="$ctrl.user" current-page="$ctrl.page" on-switch-page="$ctrl.switchPage"></navigation>
	<incident-form ng-if="$ctrl.page === 'incident-form'" on-switch-page="$ctrl.switchPage"></incident-form>
	<incident-list ng-if="$ctrl.page === 'incident-list'" on-switch-page="$ctrl.switchPage"></incident-list>
	<confirmation ng-if="$ctrl.page === 'confirmation'" on-switch-page="$ctrl.switchPage"></confirmation>
	<password ng-if="$ctrl.page === 'password'" on-switch-page="$ctrl.switchPage"></password>
	<friend ng-if="$ctrl.page === 'friend'" on-switch-page="$ctrl.switchPage"></friend>
</div>
