* {
    font-family: 'Nunito', sans-serif;
 }

 p {
    font-size: 1.7rem;
 }

 p.title {
     font-size:2rem;
 }
 
 h1 {
     width: 80%;
     margin: auto;
     clear: both;
     padding: 20px 0 10px 0;
 }

 input {
    color: #8e8e93;
 }

 textarea, input {
     padding: 10px;
 }

 app>div {
     background: #C4E2DA;
 }

 app>div.search {
    background-image: url(/../assets/yarn-bg.jpg);
    background-size: 1350px;
    background-repeat: no-repeat;
    background-size: cover;
 }

 app>div.incident-form {
    background: #C4E2DA;
 }

 html,
 body,
 app,
 app>div {
     height: 100%;
     width: 100%;
     display: block;
 }
