<h1>Log an incident</h1>

<form class="form log-incident">
    <p class="incident-label">What happened?</p>
    <textarea class="incident" rows="10" col="40"></textarea>

    <p class="incident-label">Where?</p>
    <input class="field-incident" type="text" placeholder="Nottingham Council House">

    <button class="submit keep-safe" type="button" ng-click="$ctrl.submit()">Keep Safe</button>

    <button class="submit report" type="button" ng-click="$ctrl.submit()">Report &amp; Safe</button>

</form>
