password, friend {
	width: 80%;
	display: block;
	margin: 0 auto;
}

password h1, friend h1 {
	width: 100%;
}

password input, friend input {
	display: block;
	padding: 10px 15px;
	border: 1px solid #000;
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	width: 100%;
}

password button, friend button {
	margin-top: 30px;
	background: #6cb043;
	border: 2px solid #48752d;
	margin-bottom: 30px;
	color: #fff;
	display: block;
	border-radius: 5px;
	width: 100%;
	padding: 3px;
}
