<h1>You be brave</h1>
<p><b>You Be Brave</b> enables you to log incidents of harrassment or abuse, to support cases reported to the authorities</p>
<p>In order to keep your data private, you need to set up a secure password or passphrase.</p>
<p>We recommend choosing something memorable and unique. e.g. "Cats love the history of Swedish knitting"</p>
<p></p>
<p>Create a passphrase</p>
<input ng-model="$ctrl.passphrase" type="text"><p>
<p>Confirm you passphrase</p>
<input ng-model="$ctrl.passphrase2" type="text">
<button ng-click="$ctrl.set()" ng-disabled="!$ctrl.passphrase || $ctrl.passphrase !== $ctrl.passphrase2" ng-click="$ctrl.onSwitchPage('incident-form')">Continue</button>
