navigation {
    display: block;
    background: #C4E2DA;
    clear: both;
    float: left;
    width: 100%;
}

navigation button {
    float: right;
    min-height: 50px;
    background: none;
    border: none;
    color: #547A6F;
}

navigation img {
    float: left;
}

navigation ul {
    list-style-type: none;
    clear: both;
    padding: 0;
}

navigation li {
    width: 100%;
    float: left;
}
navigation .menu-item {
    display: block;
    width: 100%;
    text-align: left;
    border-top: 2px solid #547A6F;
    font-size: 2rem;
}

navigation a {
    padding: 15px 0;
    text-decoration: none;
}