<div>
	<button ng-click="$ctrl.showMenu = !$ctrl.showMenu" ng-if="$ctrl.currentPage !== 'search'"><i class="fa fa-bars fa-2x"></i></button>
	<img ng-if="$ctrl.user" ng-src="{{ $ctrl.user.photo }}" class="avatar" />
	<a href="/login" ng-if="!$ctrl.user && $ctrl.loaded" class="login">Login</a>
	<ul ng-if="$ctrl.showMenu && $ctrl.currentPage !== 'search'">
		<li><button class="menu-item" ng-click="$ctrl.go('incident-form')">Log Incident</button></li>
		<li><button class="menu-item" ng-click="$ctrl.go('incident-list')">My Log</button></li>
		<li><button class="menu-item" ng-click="$ctrl.go('friend')">Choose trusted friend</button></li>
		<li><a class="menu-item" href="/logout">Log out</a></li>
		<li><button class="menu-item" ng-click="$ctrl.go('search')">Exit</button></li>
	</ul>
</div>
